*{
	margin: 0;
	padding: 0;
}

.mainContainer{
	width: 100vw;

	display: flex;
	justify-content: center;
}

.container{
	width: 80%;
	background-color:#FE6244;
	padding: 50px 0;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.heading{
	text-align: center;
	color: #7149C6;
}

.container table{
	border-spacing: 5px;
	margin: 20px 0;
}

.container table td{
	margin: none;
	text-align: center;
	color: #FC2947;
	font-size: 30px;
	width: 100px;
	height: 100px;
	background-color:wheat;
}

.winner{
	margin-top: 10px;
	font-size: 20px;
	color: #7149C6;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.playAgain{
	margin: 5px 0px;
	padding: 10px 20px;
	align-items: center;
	border: none;
	background-color: #FC2947;
	color:white;
	border-radius: 14px;
}
.creator{
	margin-top: 20px;
}
