*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */
    background: url("https://img.freepik.com/free-photo/gray-elegant-background-with-copy-space_24972-1805.jpg?w=900&t=st=1678787588~exp=1678788188~hmac=747b40bf47ff59ba16c133cd4d4f917b966169347a4ce5381040bacfa1cdbb55");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Cedarville Cursive', cursive;

}

.main-box{
    padding: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 9px;
    background-color: rgb(251, 249, 249);

    max-width: 35%;
    box-sizing: border-box;
}
.main-box h1{
    margin-bottom: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Noto Serif', serif !important;
    border-bottom: 2px solid rgb(246, 38, 38);
}

.list-div{
    padding: 7px 0;
    border-bottom: 1px solid gray;

    display: flex;
    justify-content: space-between;
}

.list-row{
    display: inline;

    font-size: 22px;
    font-weight: bold;
}

.input-div{
    width: 100%;
}

.input-div input{
    padding: 5px 16px;
    font-size: 18px;
    margin-top: 20px;
    width: 62%;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px gray;
    background: transparent;
}


/* utilities */
.symbol-btn{
    padding: 2px 6px !important;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px gray;

    cursor: pointer;
}

.done{
    margin-right: 10px;
    background-color: green;
    margin-left: 0px !important;
}
.done:hover{
    background-color: rgb(5, 183, 5);
}

.close{
    margin-left: 20px;
    background-color: red;
    margin-top: 10px;
}
.close:hover{
    background-color: rgb(210, 5, 5);
}

.add{
    background-color: rgb(30, 94, 205);
    color: white;
    padding: 5px 16px;
    /* width: 15%; */
    font-size: 18px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px gray;
    border: 1px solid white;
    cursor: pointer;
}
.add:hover{
    background-color: rgb(1, 82, 255);
}